
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/fpost.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>    
</head>
<body>
    
    <header>
        <div class="navbar">
            <nav class="navigation bar" id="navigation">
                <ul class="navlist">
                    <li class="navitem">
                        <a href="{% url 'main' %}">Homepage</a>
                    </li> 
                    <li class="navitem">
                        <a href="{% url 'addpost' %}">Add Post</a>
                    </li>
                </ul>
            </nav> 
        </header>
   
Current User: {{user.id}}
<br/><br>
Post Author: {{post.author.id}}
<h1>{{post.title}} - {{post.author.id}}</h1>  
<small>By: {{post.author}} - </small><br/>

{% if user.is_authenticated %}
        {% if user.id == post.author.id%}
            <a href="{% url 'updateview' post.pk %}">Edit</a>

            <a href="{% url 'deleteview' post.pk %}">Delete</a>  
        {% endif %}
{% endif %} 
    

<hr>
<br/>
{{post.body}}


       
  
   
</body>
</html>