{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuturamaPage</title>

    <link rel="stylesheet" href="{% static 'css/fpost.css' %}">
    
</head>
<body>
    
    <header>
        <div class="navbar">
            <nav class="navigation bar" id="navigation">
                <ul class="navlist">
                    <li class="navitem">
                        <a href="{% url 'main' %}">Homepage</a>
                    </li> 
                </ul>
            </nav> 
        </header>
   
    <h1>{{post.title}}</h1>  
    <small>By: {{post.author}}</small><br/>
    <hr>
    <br/>
    {{post.body}}


       
  
   
</body>
</html>